body{
background: #4e4e4e !important;
}
.container {			  
background: linear-gradient(to bottom, #009900 0%, #ccff66 100%);			  
min-height:100vh;
height: auto;
}
.team_box, .match_box-s{
background: #4e4e4e;
margin: 10px;
border-radius: 5px;
}
.team_box img, .match_box-s img{
position: relative;
float: right;
}
.blue{
color: blue;
}
.player_box,.team_box_vs{
text-decoration-line: none;
color: #fff;
}
.player_box:hover{
text-decoration-line: none;
color: #fff;
}
.player_box img, .player img{
border-radius: 2px;
} 
.player{
text-align: center;
color: #fff;
}
.player_info_label,.player_info_label_head{
color: #fff;
font-size: 14px;
border: none;
padding: 10px;
font-weight: normal;
}
.player_info_label_head{
font-weight: bold;
}

.player_details{
background: #4e4e4e1c;
color: #fff;
padding: 10px;
border-radius: 5px;
margin-left: 10px;
}
.line {
border-bottom : 1px solid #4e4e4e1c;
}

.navigation-bar ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #4e4e4e;
}

.navigation-bar li {
float: left;
}

.navigation-bar li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

.navigation-bar li a:hover:not(.active) {
background-color: #111;
}

.navigation-bar .active {
background-color: #4CAF50;
}
.clear-div{
clear: both;
}
.team_box_vs{
	text-align: center !important;
	font-size: 18px;
	font-weight: normal;
	/*color: #fff;*/
	vertical-align: middle;
}
.match-box{
	background: #4e4e4e1c;
	border-bottom : 1px solid #5555551f;
}
.match_box-s{
	/*background: transparent;*/
	/*margin: 0px;*/
	/*margin-top: 5px;*/
}
.match_box-s-title{
	font-weight: bold;
	color: #fff;
}
.pagination{
	height: 30px;
}
.button-pag{
	font-size: 18px;
    background: #4e4e4e;
    line-height: 24px;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    min-width: 130px;
    width: 130px;
    word-break: inherit;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

.img_th{
	/*float: right;*/
}

.text-center{
	text-align: center;
}
.text-left{
	text-align: left;
}
.all-none{
	border: none;

}

.head_tr{
	background: #4e4e4e !important;
	border: none !important;
	color: #fff;
}
td img{
	border-radius: 50% !important;
}